# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
RayTracer/x64/Release/
RayTracer/x64/Debug/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.vs
*.gitignore
*.gitattributes
*.git
